@font-face {
    font-family: Korean;
    src: url('../fonts/Korean_Calligraphy.ttf');
}

@font-face {
    font-family: Fighting;
    src: url('../fonts/FightingSpirit.ttf');
}
@font-face {
    font-family: Fighting;
    src: url('../fonts/FightingSpiritBold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: Fighting;
    src: url('../fonts/FightingSpiritItalic.ttf');
    font-style: italic, oblique;
}

@font-face {
    font-family: MonaShark;
    src: url('../fonts/MonaShark.otf');
}

hr {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
    text-align: center;
}

hr:after {
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
}

hr.teams {
    content: "Equipos";
}

.thumb-list {
    text-align: center;
}

ul.thumb-list {
    list-style-type: none;
}

ul.thumb-list li.thumb-list {
    display: inline-block;
    margin-bottom: 150px;
}

.thumb-image {
    width: 250px;
    height: auto;
    border: solid;
    border-radius: 50%;
    border-color: black;
    filter:sepia(100%);
    display: block;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.thumb-text {
    width: 250px;
    display: none;
    position:absolute;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 50px;
    line-height: 100%;
    font-weight: bold;
    font-family: Impact, Charcoal, sans-serif;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.thumb-container:hover p {
    display: block;
}

.thumb-container:hover img {
    border-radius: 25px;
    filter:sepia(0%);
    /*filter:blur(2px);*/
}

.team-table {
    width:70%;
    margin-left:15%;
    margin-right:15%;
    text-align: center;
}

.team-table th {
    text-align: center;
}

/* Style the tab */
div.tab {
    overflow: hidden;
}

/* Style the buttons inside the tab */
div.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    margin-top: 35px;
}

.week-table {
    width:70%;
    margin-left:15%;
    margin-right:15%;
    text-align: center;
}

.week-table th {
    text-align: center;
    text-decoration: none;
}

.week-table tr {
    line-height: 5px;
}

.week-table img {
    height: 50px;
    width: auto;
    border-radius: 50%;
    border-color: black;
}

.week-table p {
    margin-top: 7px;
    color: black;
}

.week-table p {
    font-family: "Fighting";
}

ul.match-list {
    list-style-type: none;
}

.match-list th {
    text-align: center;
    font-family: "Fighting";
}

.match-list img {
    position: relative;
    top: 12px;
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.match-draw {
    background-color: rgba(255, 255, 0, 0.3);
}

.match-won {
    background-color: rgba(0, 255, 0, 0.3);
}

.match-lost {
    background-color: rgba(255, 0, 0, 0.3);
}

.match-champions {
    background-color: #ffffff;
}

.match-champions th {
    font-family: "Open Sans", Helvetica, sans-serif;
}

.match-champions img {
    border-radius: 0%;
    max-width:100%;
    height:auto
}
