---
layout: page
title: Calendario
preface: Calendario de los partidos
---
			<section>
				<h4>Calendario</h4>
				<p>Actualmente la liga consta de dos partes:</p>
				<ul>
					<li>Clasificación</li>
					<li>Eliminatoria</li>
				</ul>
				<p>Durante la fase de clasificación, los equipos aseguraran su posicion
					en la fase eliminatoria, en la cual solo los mejores equipos participaran</p>
			</section>
			<hr/>
			<section>
				<h4>Clasificación</h4>

				<div class="tab">
				{% for week in site.data.calendar %}
					{% if week.week == 1 %}
					<button class="tablinks" onclick="openWeek(event, 'Week{{ week.week }}')" id="defaultOpen">Semana {{ week.week }}</button>
					{% else %}
					<button class="tablinks" onclick="openWeek(event, 'Week{{ week.week }}')">Semana {{ week.week }}</button>
					{% endif %}
				{% endfor %}
				</div>

				{% for week in site.data.calendar %}
				<div id="Week{{ week.week }}" class="tabcontent">
					<h5>{{ week.date }}</h5>
					<p>Todos los partidos se jugaran BO2</p>
					<ul>
						<li>Ganar ambos partidos: 3 puntos</li>
						<li>Empatar: 1 punto para cada equipo</li>
						<li>Perder ambos partidos: 0 puntos</li>
					</ul>
					<p>Despues de cada partido se cambian los lados</p>
					{% for group in week.groups %}
					<h5>Group {{ group.group }}</h5>
					<table class="week-table">
						<thead>
							<tr>
								<th>Azul</th>
								<th></th>
								<th></th>
								<th>Rojo</th>
							</tr>
						</thead>
						<tbody>
							{% for match in group.matches %}
							{% assign blue = (site.pages | where:"preface",match.blue.team | first) %}
							{% assign red = (site.pages | where:"preface",match.red.team | first) %}
							<tr>
								<td><a href="{{ blue.url }}">
									<img src="{{ blue.logo }}" />
									<span>{{ blue.preface }}</span>
								</a></td>
								<td><p>{{ match.blue.wins }}</p></td>
								<td><p>{{ match.red.wins }}</p></td>
								<td><a href="{{ red.url }}">
									<img src="{{ red.logo }}" />
									<span>{{ red.preface }}</span>
								</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% endfor %}
				</div>
				{% endfor %}
			</section>

			<hr/>

			<section>
				<h4>Eliminatoria</h4>
			</section>

			<script>
				function openWeek(evt, weekName) {
					var i, tabcontent, tablinks;
					tabcontent = document.getElementsByClassName("tabcontent");
					for (i = 0; i < tabcontent.length; i++) {
						tabcontent[i].style.display = "none";
					}
					tablinks = document.getElementsByClassName("tablinks");
					for (i = 0; i < tablinks.length; i++) {
						tablinks[i].className = tablinks[i].className.replace(" active", "");
					}
					document.getElementById(weekName).style.display = "block";
					evt.currentTarget.className += " active";
				}

				// Get the element with id="defaultOpen" and click on it
				document.getElementById("defaultOpen").click();
			</script>
