---
layout: page
title: Roster
preface: Equipos participantes
groups:
  - A
  - B
---
			<section>
				<h4>Roster</h4>
				<p>Los rosters de equipos no estan cerrados</p>
				<p>La inscripción sigue abierta. <a href="contact">Inscribite!</a></p>
			</section>

			<hr />

			<section>
				<p>Clasificación Sorted</p>
        {% for group in page.groups %}
        <p>Group {{ group }}</p>
        {% assign teams = (site.pages | where:"layout","team" | where:"group",group | sort: 'score') %}
        <table class="week-table">
					<thead>
						<tr>
							<th>Equipo</th>
							<th>Puntos</th>
						</tr>
					</thead>
					<tbody>
						{% for page in teams reversed %}
							<tr>
								<td><a href="{{ page.url }}">
									<img src="{{ page.logo }}"/>
									<span>{{ page.preface }}</span>
								</a></td>
								<td><p>{{ page.score }}</p></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
        {% endfor %}
			</section>

			<hr />

			<section>
				<h4>Equipos</h4>
				{% assign teams = (site.pages | where:"layout","team" | sort: 'title') %}
				<div class="thumb-list">
					<ul class="thumb-list">
						{% for page in teams reversed %}
							<li class="thumb-list"><a href="{{ page.url }}">
								<div class="thumb-container">
									<img class="thumb-image" src="{{ page.logo }}" />
									<p class="thumb-text">{{ page.title }}</p>
								</div>
							</a></li>
						{% endfor %}
					</ul>
				</div>
			</section>
