---
layout: page
title: Roster
preface: Equipos participantes
groups:
  - A
  - B
positions:
  - Top
  - Jungler
  - Mid
  - ADC
  - Support
---
			<!-- <section>
				<h4>Roster</h4>
				<p>Los rosters de equipos no estan cerrados</p>
				<p>La inscripción sigue abierta. <a href="contact">Inscribite!</a></p>
			</section>

			<hr /> -->

			<section>
				<h4>Clasificación</h4>
        {% for group in page.groups %}
        <p>Group {{ group }}</p>
        {% assign teams = (site.pages | where:"layout","team" | where:"group",group | sort: 'score') %}
        <table class="week-table">
					<thead>
						<tr>
							<th>Equipo</th>
							<th>Puntos</th>
						</tr>
					</thead>
					<tbody>
						{% for page in teams reversed %}
							<tr>
								<td><a href="{{ page.url }}">
									<img src="{{ page.logo }}"/>
									<span>{{ page.preface }}</span>
								</a></td>
								<td><p>{{ page.score }}</p></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
        {% endfor %}
			</section>

			<hr />

      <section>
        <h4>Mejores jugadores</h4>
        {% assign teams = (site.pages | where:"layout","team") %}
        <table class="week-table">
          <thead>
            <tr>
              <th>Equipo</th>
              <th>Posicion</th>
              <th>Nombre</th>
              <th>KDA</th>
            </tr>
          </thead>
          <tbody>
          {% for position in page.positions %}
            {% assign player_name = "None" %}
            {% assign player_kda = 0 %}
            {% assign player_team = "None" %}
            {% assign player_url = "None" %}
            {% assign player_logo = "None" %}
            {% for team in teams %}
              {% for player in team.players %}
                {% if player.position == position %}
                  {% assign kda = 0 %}
                  {% for game in site.data.games %}
                    {% for match in game.matches %}
                      {% for game_player in match.blue.players %}
                        {% if player.name == game_player.name %}
                          {% assign matchkda = 0 %}
                          {% assign matchkda = game_player.kills | plus: game_player.assists %}
                          {% assign deaths = game_player.deaths %}
                          {% if deaths == 0 %}
                            {% assign matchkda = matchkda | times: 2.0 %}
                          {% else %}
                            {% assign deaths = deaths | times: 1.0 %}
                            {% assign matchkda = matchkda | divided_by: deaths %}
                          {% endif %}
                          {% if kda == 0 %}
                            {% assign kda = matchkda %}
                          {% else %}
                            {% assign kda = kda | plus: matchkda %}
                            {% assign kda = kda | divided_by: 2.0 %}
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                      {% for game_player in match.red.players %}
                        {% if player.name == game_player.name %}
                          {% assign matchkda = 0 %}
                          {% assign matchkda = game_player.kills | plus: game_player.assists %}
                          {% assign deaths = game_player.deaths %}
                          {% if deaths == 0 %}
                            {% assign matchkda = matchkda | times: 2.0 %}
                          {% else %}
                            {% assign deaths = deaths | times: 1.0 %}
                            {% assign matchkda = matchkda | divided_by: deaths %}
                          {% endif %}
                          {% if kda == 0 %}
                            {% assign kda = matchkda %}
                          {% else %}
                            {% assign kda = kda | plus: matchkda %}
                            {% assign kda = kda | divided_by: 2.0 %}
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  {% endfor %}
                  {% if kda > player_kda %}
                    {% assign player_name = player.name %}
                    {% assign player_kda = kda %}
                    {% assign player_team = team.preface %}
                    {% assign player_url = team.url %}
                    {% assign player_logo = team.logo %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endfor %}
            {% assign player_kda = player_kda | round: 2 %}
            <tr>
              <td><a href="{{ player_url }}">
                <img src="{{ player_logo }}"/>
                <span>{{ player_team }}</span>
              </a></td>
              <td>{{ position }}</td>
              <td>{{ player_name }}</td>
              <td>{{player_kda }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>

      <hr />

			<section>
				<h4>Equipos</h4>
				{% assign teams = (site.pages | where:"layout","team" | sort: 'title') %}
				<div class="thumb-list">
					<ul class="thumb-list">
						{% for page in teams reversed %}
							<li class="thumb-list"><a href="{{ page.url }}">
								<div class="thumb-container">
									<img class="thumb-image" src="{{ page.logo }}" />
									<p class="thumb-text">{{ page.title }}</p>
								</div>
							</a></li>
						{% endfor %}
					</ul>
				</div>
			</section>
