---
layout: default
---
<article id="main">

  <header>
    <h2>{{ page.title }}</h2>
    <p>{{ page.preface }}</p>
    <img src="{{ page.logo }}" style="width: 250px;border-radius: 50%;border-color: black;margin-bottom:-15px" />
  </header>

  <section class="wrapper style5">
    <div class="inner">
      <section>
        <h4>Roster</h4>
        <table class="team-table">
          <thead>
            <tr>
              <th>Rol</th>
              <th>Jugador</th>
              <th>Media KDA</th>
            </tr>
          </thead>
          <tbody>
            {% for player in page.players %}
              <tr>
                <td>{{ player.position }}</td>
                <td>{{ player.name }}</td>
                <td>
                  {% assign kda = 0 %}
                  {% assign count = 0 %}
                  {% for game in site.data.games %}
                  {% for match in game.matches %}
                  {% for game_player in match.blue.players %}
                  {% if player.name == game_player.name %}
                  {% assign matchkda = 0 %}
                  {% assign matchkda = game_player.kills | plus: game_player.assists %}
                  {% assign deaths = game_player.deaths %}
                  {% if deaths == 0 %}
                  {% assign matchkda = matchkda | times: 2.0 %}
                  {% else %}
                  {% assign deaths = deaths | times: 1.0 %}
                  {% assign matchkda = matchkda | divided_by: deaths %}
                  {% endif %}
                  {% assign count = count | plus: 1 %}
                  {% if count == 1 %}
                  {% assign kda = matchkda %}
                  {% else %}
                  {% assign lastcount = count | minus: 1 %}
                  {% assign kda = kda | times: lastcount %}
                  {% assign kda = kda | divided_by: count %}
                  {% assign matchkda = matchkda | divided_by: count %}
                  {% assign kda = kda | plus: matchkda %}
                  {% endif %}
                  {% endif %}
                  {% endfor %}
                  {% for game_player in match.red.players %}
                  {% if player.name == game_player.name %}
                  {% assign matchkda = 0 %}
                  {% assign matchkda = game_player.kills | plus: game_player.assists %}
                  {% assign deaths = game_player.deaths %}
                  {% if deaths == 0 %}
                  {% assign matchkda = matchkda | times: 2.0 %}
                  {% else %}
                  {% assign deaths = deaths | times: 1.0 %}
                  {% assign matchkda = matchkda | divided_by: deaths %}
                  {% endif %}
                  {% assign count = count | plus: 1 %}
                  {% if count == 1 %}
                  {% assign kda = matchkda %}
                  {% else %}
                  {% assign lastcount = count | minus: 1 %}
                  {% assign kda = kda | times: lastcount %}
                  {% assign kda = kda | divided_by: count %}
                  {% assign matchkda = matchkda | divided_by: count %}
                  {% assign kda = kda | plus: matchkda %}
                  {% endif %}
                  {% endif %}
                  {% endfor %}
                  {% endfor %}
                  {% endfor %}
                  {% assign kda = kda | round: 2 %}
                  {{ kda }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>

      <hr/>

      <section>
        <h4>Partidos</h4>

        <ul class="game-list">
          {% for game in site.data.games %}
          {% if game.team1.team == page.preface or game.team2.team == page.preface %}
          {% assign team1 = (site.pages | where:"preface",game.team1.team | first) %}
          {% assign team2 = (site.pages | where:"preface",game.team2.team | first) %}
          <li>
            {% if game.team1.wins == game.team2.wins %}
            <div class="game-draw game">
            {% elsif game.team1.team == page.preface and game.team1.wins > game.team2.wins %}
            <div class="game-won game">
            {% elsif game.team2.team == page.preface and game.team2.wins > game.team1.wins %}
            <div class="game-won game">
            {% else %}
            <div class="game-lost game">
            {% endif %}
              <table>
                <thead>
                  <tr>
                    <th><a href="{{ team1.url }}"><img class="game-image" src="{{ team1.logo }}" /></a></th>
                    <th>{{ game.team1.wins }}</th>
                    <th>{{ game.team2.wins }}</th>
                    <th><a href="{{ team2.url }}"><img class="game-image" src="{{ team2.logo }}" /></a></th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="match">
              <ul>
                {% for match in game.matches %}
                {% assign blue = (site.pages | where:"preface",match.blue.team | first) %}
                {% assign red = (site.pages | where:"preface",match.red.team | first) %}
                <li>
                  <table>
                    <tbody>
                      <tr>
                        {% if match.blue.wins > match.red.wins %}
                        <td style="text-align:left; background-color: rgba(0, 255, 0, 0.3);">
                        {% else %}
                        <td style="text-align:left;">
                        {% endif %}
                          <img class="team-image" src="{{ blue.logo }}" style="text-align:left;"/>
                        </td>
                        {% if match.blue.wins > match.red.wins %}
                        <td style="text-align:left; background-color: rgba(0, 255, 0, 0.3);">
                        {% else %}
                        <td style="text-align:left;">
                        {% endif %}
                          {% for player in match.blue.players %}
                          <span><img class="champ-image" src="../../images/champs/{{ player.champion }}.png" title="{{ player.name }} - {{ player.champion | capitalize }} : {{ player.kills}}/{{ player.deaths}}/{{ player.assists}}"/></span>
                          {% endfor %}
                        </td>
                        {% if match.red.wins > match.blue.wins %}
                        <td style="text-align:right; background-color: rgba(0, 255, 0, 0.3);">
                        {% else %}
                        <td style="text-align:right;">
                        {% endif %}
                          {% for player in match.red.players %}
                          <span><img class="champ-image" src="../../images/champs/{{ player.champion }}.png" title="{{ player.name }} - {{ player.champion | capitalize }} : {{ player.kills}}/{{ player.deaths}}/{{ player.assists}}"/></span>
                          {% endfor %}
                        </td>
                        {% if match.red.wins > match.blue.wins %}
                        <td style="text-align:right; background-color: rgba(0, 255, 0, 0.3);">
                        {% else %}
                        <td style="text-align:right;">
                        {% endif %}
                          <img class="team-image" src="{{ red.logo }}" />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </li>
                {% endfor %}
              </ul>
            </div>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
        {% assign points = 0 %}
        {% for game in site.data.games %}
        {% if game.scores == 1 %}
        {% if game.team1.team == page.preface %}
        {% if game.team1.wins > game.team2.wins %}
        {% assign points = points | plus: 3 %}
        {% elsif game.team1.wins == game.team2.wins %}
        {% assign points = points | plus: 1 %}
        {% endif %}
        {% elsif game.team2.team == page.preface %}
        {% if game.team2.wins > game.team1.wins %}
        {% assign points = points | plus: 3 %}
        {% elsif game.team2.wins == game.team1.wins %}
        {% assign points = points | plus: 1 %}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}
        <p>Puntos totales: {{ points }}</p>
      </section>
    </div>
  </section>

</article>
