---
layout: default
---
<article id="main">

  <header>
    <h2>{{ page.title }}</h2>
    <p>{{ page.preface }}</p>
    <img src="{{ page.logo }}" style="width: 250px;border-radius: 50%;border-color: black;margin-bottom:-15px" />
  </header>

  <section class="wrapper style5">
    <div class="inner">
      <section>
        <h4>Roster</h4>
        <table class="team-table">
          <thead>
            <tr>
              <th>Rol</th>
              <th>Jugador</th>
              <th>Media KDA</th>
            </tr>
          </thead>
          <tbody>
            {% for player in page.players %}
              <tr>
                <td>{{ player.position }}</td>
                <td>{{ player.name }}</td>
                <td>{{ player.kda }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
      <hr/>
      <section>
        <h4>Partidos</h4>
        <p>No hay partidos para mostrar</p>
        <p>Puntos totales: {{ page.score }}</p>
      </section>
    </div>
  </section>

</article>
